.swiper-pagination-bullet {
    background-color: oklch(var(--sc));
    width: 10px;
    height: 10px;
    transition: width 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: oklch(var(--p));
    width: 30px;
    height: 10px;
    border-radius: 5px;
    transition: width 0.3s;
}
